@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Http;
@model List<TwitterClone.Models.Tweet>

@if (Context.Session.GetString("FullName") != null)
{
    <div class="text-center">
        <h1 class="display-4">Welcome, @Context.Session.GetString("FullName")!</h1>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-2">
            <div class="text-left">
                <h4>Follow</h4>
                <form asp-action="Search">
                    <div class="input-group mb-3">
                        <input type="text" name="searchName" class="form-control" placeholder="Search User" />
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </form>
                <span class="text-danger">@ViewBag.SearchFail</span>
            </div>
            <div>
                <h6>@ViewBag.Tweets Tweets</h6>
                <br />
                <h6>@ViewBag.Followers Followers</h6>
                <br />
                <h6>@ViewBag.Following Following</h6>
            </div>
        </div>
        <div class=border></div>
        <div class="col-4">
            <h4>Tweet your thoughts!</h4>
            <form asp-action="Tweet">
                <textarea rows="5" cols="100" name="message" class="form-control"> </textarea>
                <br />
                <input type="submit" value="Tweet" class="btn btn-primary" />
            </form>
            <span class=" text-danger">@ViewBag.ErrMessage</span>
            <div>
                <partial name="TweetList" />
            </div>
        </div>
    </div>
}
else
{
    <h2>You are not Authorized!</h2>
    <script type="text/javascript">
        window.setTimeout(function () {
            window.location.href = '/Home/UserLogin';
        }, 1000);
    </script>
}
